.reveal{
    opacity: 0;
    transform: translateX(0px);
    transition: all 1s ease-in-out;
    filter: blur(2px);

}

.reveal.aactive{
    opacity: 1;
    transform: translateX(-50%);
    filter: blur(0px);
}